/*=== hide JS elements ===*/
#hideStepsForm {
   display: none;
}
#partnerDetialsHidden{
    display: none;
}
#extraFields {
    display: none;
}
body {
    color: #22344C;
}
.preform-modern {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin: 30px;
    border: 10px solid #ececec;
    color: #22344C;
    width: 100%;
}
.preform-modern h2 {
    font-weight: 100;
    font-size: 46px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.inner-preform-modern {
    text-align: left;
    background-color: #EEEEEE;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 15px;
}

.preform-modern .btn-three {
    margin-top: 20px;
    background-color: #27ae60;
    color: #fff;
    border-bottom: 4px solid #186838;
    width: 100%;
}
.preform-modern .btn-three:hover,  .preform-modern .btn-three:active{
    opacity: 0.8;
}
.inner-preform-modern .form-control {
    height: 40px;
}
.preform-modern label {
    font-weight: 400 !important;
}
@media only screen and (max-width: 768px) {
    .preform-modern{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        margin-bottom: 0;
        border-bottom-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        -moz-border-bottom-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
    }
    .preform-section .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .inner-preform-modern {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
    }
    .preform-modern .btn-three {
        display: block;
        margin: 30px auto;
        width: 80%;
    }

}
/* Preloader --*/
.preloaderSteps .fa {
    margin-bottom: 20px;
}
.preloaderSteps {
     background: #fff;
     padding-top: 30%;
     padding-bottom: 30%;
     border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
     color: #4686b8;
     font-weight: 700;
     margin-bottom: 30px;
 }
@media only screen and (min-width: 992px) {
    /* Preloader --*/
    .preloaderSteps {
        padding: 15%;
    }
}
/*=====================================================================*/
/*================ Stages Form Styling ================================*/
/*=====================================================================*/
.borderForContent {
    background-color: #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 6px;
}
@media only screen and (min-width: 769px){
    .dropDownInline2 {

        min-width: 100%;
        margin-left: -10px;
        margin-bottom: 50px;
    }
    .dropDownEach {
        min-width: 30% !important;
        margin-bottom: 20px !important;
        margin-left: 10px;
    }
}
@media only screen and (min-width: 1200px){
    .dropDownInline2 {

        min-width: 75%;
        margin-left: -10px;
        margin-bottom: 50px;
    }
    .dropDownEach {
        min-width: 30% !important;
        margin-left: 17px;
    }
}
#finish a{
    background-color: #27ae60 !important;
}
.stages-modern {
    text-align: left;
    background-color: #fff;
    color: #22344C;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: -1px;
}
@media only screen and (min-width: 479px ){
    .stages-modern {

        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;

    }
}

.stages-modern h2 {
    text-align: center;
    color: #22344C;
    font-weight: 800 !important;
    margin: 20px auto;
}
.stages-modern p {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 17px;
    font-weight: 600;
}
@media only screen and (min-width: 768px) {
    .stages-modern {
        margin-bottom: 30px;
    }
}
.stage-radio-group {
    margin-top: 20px;
}
input[type=radio] {
    display: inline !important;
}

label > input {
    visibility: hidden;
    position: absolute;
}
label > input + i {
    cursor: pointer;
    background-color: #c6c6c5;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    padding: 20px;
}
label > input:checked + i {
    cursor: pointer;
    background-color: #4686b8;
    color: #fff;
}
label > small {
    display: block;
    position: relative;
    padding-top: 10px;
    font-size: 11px;
    left: 17px;
    font-weight: 700;
}
.stage-radio-group .fa:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #4686b8;
}
/*-- change border on inputs --*/
.wizard > .content > .body input, .stages-modern-inner select{
    display: block;
    border: 2px solid #9C9B9B !important;
}
.stages-modern-inner small {
    display: inherit;
    position: relative;
    padding-top: 10px;
    font-size: 11px;
    left: 17px;
    font-weight: 700;

}
.stages-modern-inner label {
 margin-left: 5px;
 margin-top: 15px;
}
.stages-modern .form-control {
    height: 40px !important;
    padding: 0 6px;
    margin-top: 15px !important;
    width: 95%;
    margin: 0 auto;
}
/*-- placeholder --*/
::-webkit-input-placeholder {
    font-weight: 700;
    font-size: 14px;
}
::-moz-placeholder {
    font-weight: 700;
    font-size: 14px;
}
::-moz-placeholder {
    font-weight: 700;
    font-size: 14px;
}
:-ms-input-placeholder {
    font-weight: 700;
    font-size: 14px;
}

/*=====================  Form inputs =====================*/
@media only screen and (min-width: 992px){
   .stages-modern .form-control {
        height: 67px !important;
        padding: 0 6px;
        margin-top: 10px !important;
       width: 88%;

    }
    .stages-modern-inner label {
        margin-left: 0;
        margin-top: 0;
    }

    .stages-modern ::-webkit-input-placeholder {
        font-weight: 700;
        font-size: 20px;
    }
    .stages-modern ::-moz-placeholder {
        font-weight: 700;
        font-size: 20px;
    }
    .stages-modern ::-moz-placeholder {
        font-weight: 700;
        font-size: 20px;
    }
    .stages-modern :-ms-input-placeholder {
        font-weight: 700;
        font-size: 20px;
    }

    .stages-modern-inner  {
        margin-top: 20px;
    }
    .stages-modern .fa-group:before, .stages-modern .fa:before {
        font-size: 30px;
    }
    .stages-modern {
        padding: 20px;
    }
}

/*=====================================================================*/
/*================ Stages Form Styling Main ===========================*/
/*=====================================================================*/
/*
    Common
*/
/*-- this is for responsive resizing (changed to relative) --*/


.wizard > .content > .body
{

}

@media only screen and (max-width: 500px){

    .actions {
        background-color: #eee;
    }
    .stages-modern section{
        background: #eeeeee;
        display: block;
        min-height: 25em !important;
        margin: 0 !important;
        width: auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding-bottom: -30px !important;
    }
    .content{
        padding-bottom: 0 !important;
    }
.stages-modern {
    padding-bottom: 0 !important;

    }
    .wizard > .actions {
        padding-bottom: 20px;
    }

}

.stages-modern section{
    background: #eeeeee;
    display: block;
    min-height: 25em !important;
    margin: 0.5em;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.wizard > .stages-modern
{

}
@media only screen and (min-width: 992px) {
    .wizard > .content > .body {
        min-height: 10em !important;
    }
}


.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}
/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 133%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 100%;
}

.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    font-size: 16px;
    font-weight: 100;
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #4686b8;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: #9dc8e2;
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #ff3111;
    color: #fff;
}



.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}


.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}



.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: #2184be;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}

/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}


.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
