<div>

    <div class="jumbotron contact-jumbo">
        <form action="" id="contactForm" method="get" autocomplete="off">
            <div class="row">
                <h2>Contact Us:</h2>
                <div class="col-md-6 col-lg-6">


                    <div class="form-group has-feedback">
                        <label for="fname" class="control-label">First Name:</label>

                        <input type="text" name="fname" id="fname" class="form-control" placeholder="Enter first name" />
                        <span class="glyphicon form-control-feedback" id="fname1"></span>

                    </div>


                </div><!--/.col-md-6 col-lg-6-->
                <div class="col-md-6 col-lg-6">

                    <div class="form-group has-feedback">
                        <label for="lname" class="control-label">Surname:</label>

                        <input type="text" name="lname" id="lname" class="form-control" placeholder="Enter Surname" />
                        <span class="glyphicon form-control-feedback" id="lname1"></span>

                    </div>

                </div><!--/.col-md-6 col-lg-6-->
            </div><!--/.row-->

            <div class="row">
                <div class="col-md-6 col-lg-6">


                    <div class="form-group has-feedback">
                        <label for="main_phone" class="control-label">Contact No. 1*</label>

                        <input type="text" name="main_phone" id="main_phone" class="form-control" placeholder="Contact No. 1" />
                        <span class="glyphicon form-control-feedback" id="main_phone1"></span>

                    </div>


                </div><!--/.col-md-6 col-lg-6-->
                <div class="col-md-6 col-lg-6">
                    <div class="form-group has-feedback">
                        <label for="email" class="control-label">Email:</label>

                        <input type="text" name="email" id="email" class="form-control" placeholder="Enter Surname" />
                        <span class="glyphicon form-control-feedback" id="email1"></span>

                    </div>
                </div><!--/.col-md-12 col-lg-12-->


                <div class="col-md-12 col-lg-12">

                    <label for="lname" class="control-label">Message:</label>
                    <textarea class="form-control" rows="6"></textarea>


                </div><!--/.col-md-12 col-lg-12-->
            </div><!--/.row-->

            <button name="submit" type="submit" value="Submit" id="sendContact" class="btn btn-blue btn-lg btn-block btn-block-fix">Send</button>

        </form>
    </div><!--/.jumbotron-->




</div>