<div class="text-center">
    <h3>Privacy</h3>


    <p>California Privacy Rights:
        California Civil Code Section 1798.83, also known as the "Shine The Light" law, permits our users who are California residents to request and obtain from us once a year, free of charge, information about the personal information (if any) we disclosed to third parties for direct marketing purposes in the preceding calendar year. If applicable, this information would include a list of the categories of personal information that was shared and the names and addresses of all third parties with which we shared information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to our privacy officer as listed below.</p>

    <h5>Contact Us:</h5>
    <p>If you have any questions regarding our Privacy Policy, please contact our privacy officer here.</p>
    <p>Attention: <a href="#">adnet.com</a> | <a href="#">Privacy Officer</a> | <a href="#">PO Box 29502 #47148</a> | <a href="#">Las Vegas</a> | <a href="#">NV 89126-9502</a></p>
</div>