@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
/*  font-family: 'Roboto', sans-serif;  */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/* font-family: 'Open Sans', sans-serif; */

body {
    font-family: 'Noto Serif', serif;
}
h2 {
    font-weight: 700;
}
.row {
    margin-left: 0;
    margin-right:0;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

.navbar-toggle {
    margin-top: 20px
}

/*--- Colors ---*/
.green {
    color: #61d698;
}

/*--- Buttons ---*/
.btn-blue {
    background: #2ecc71;
    color: #fff !important;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 50px;
    border-radius: 5px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #2ecc71;
    transition: all 0.2s ease 0s;
    padding: 20px 5px;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active{
    background-color: rgba(255,255,255,0);
    color: #2ecc71 !important;
    border: 2px solid #2ecc71;
}
.btn-red{
    background: #fe495a;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    padding: 13px 60px;
    margin-bottom: 50px;
    border-radius: 33px !important;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border: 2px solid #fe495a;
    transition: all 0.2s ease 0s;
}
.btn-red:hover, .btn-red:focus, .btn-red:active{
    background-color: rgba(255,255,255,0);
    color: #fff !important;
    border: 2px solid #fff;

}
.btn-primary {
    background: #34495E;
    color: #fff !important;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 50px;
    border-radius: 5px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #34495E;
    transition: all 0.2s ease 0s;
    padding: 5px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #C6A891;
    color: #fff !important;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 50px;
    border-radius: 5px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #34495E;
    transition: all 0.2s ease 0s;
    padding: 5px;
}
/* ============================================*/
/*==============Button Color Picker ===========*/
/*=============================================*/
.btn-one{

    color: #fff; /* change */
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    padding: 13px 60px;
    margin-bottom: 50px;
    border-radius: 33px !important;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-width: 2px;
    border-style: solid;
    transition: all 0.2s ease 0s;
}
.btn-one:hover, .btn-one:focus, .btn-one:active{
    background-color: rgba(255,255,255,0);
    color: #fff; /* change */
    border-width: 2px;
    border-style: solid;
    border-color: #fff; /* change */

}
.btn-two {

    color: #fff;
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 50px;
    border-radius: 5px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    transition: all 0.2s ease 0s;
    padding: 15px 5px;
}
.btn-two:hover, .btn-two:focus, .btn-two:active{
    background-color: rgba(255,255,255,0);
    border-width: 2px;
    border-style: solid;
}

/*--- Navbar ---*/
.navbar-nav>li>a {
    color: inherit !important;
    font-weight: 700;
    font-size: 16px;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:active {
    opacity: 0.5;
}
.navbar-default {
    background-color: transparent ;
    border-color: transparent ;
}

.navbar .fa {
    color: #fff;
}
.navbar .fa:hover, .navbar .fa:active {
    opacity: 0.5;
}
.navbar-brand:hover  {
    opacity: 0.7;
}
.navbar-left>li>a {
    padding: 25px 5px;
}
nav>ul {
    margin-left: 20px !important;
}
.nav-links {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 18px !important;
}
.navbar-brand {
    padding-top: 17px;
}
/*-- Bootstrap Navbar fixes --*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none !important;
    border-color: transparent !important;
}
/*--- Hero Section ---*/
.hero-section {
    background: url(../images/hero.jpg) no-repeat;
    background-position: 60% 0 !important;
    background-size: cover !important;
    color: #fff !important;
}
.hero-text h1{
    padding: 0 5%;
}
.hero-text h2{
    padding: 2% 5% 10% 5%;
    line-height: 26px;
}


.hero-section h1{
    font-size: 26px !important;
    font-weight: 700 !important;
}
.hero-section h2 {
    margin-top: 0;
    font-size: 1.3em;
    font-weight: 400;

}
.hero-section-layer {
    background-color: rgba(241, 196, 15,0);
    width: 100%;
    min-height: 635px;;
    padding-top: 30px;
    padding-bottom: 30px;
}
.hero-section .hero-text {
    visibility: hidden;
}
.jumbotron {
    color: #000 !important;
    background-color: #fff !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius:0 !important;
    -moz-border-top-right-radius: 0 !important;
    -webkit-border-top-left-radius:0 !important;
    -webkit-border-top-right-radius: 0 !important;
    -moz-border-top-left-radius:0 !important;
    padding: 15px 15px 10px 15px !important;
}
.jumbotron h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    color: #34495E;
}
.jumbotron .form-control {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
}

.jumbotron p {
    font-size: 1em;
    font-weight: 400;
    color: #636363;
}
.jumbo-top {
    margin-top: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #B0937A;
    -moz-border-top-right-radius: 6px !important;
    -webkit-border-top-left-radius: 6px !important;
    -webkit-border-top-right-radius: 6px !important;
    -moz-border-top-left-radius: 6px !important;
}
.jumbo-top h2 {
    margin: 0 auto;
    font-size: 30px !important;
    font-weight: 700 !important;
}
.jumbotron button{
    margin: 20px auto;
}
.btn-block {
    width: 90% !important;
}
/*--- Form ---*/
.form-control{
    height: 30px;
    padding: 0 6px;
}
.dropdownpad .form-control {
    padding-left: 0;
    padding-right: 0;
}
label {
    color: #34495e;
    font-weight: 700 !important;
    margin-top: 0;
}
.has-error {
    border: 1px solid #c0392b !important;
}
.has-success {
    border: 1px solid #27ae60 !important;
}
.glyphicon-ok {
    color: #27ae60 !important;
    margin-top: 0px;
}
.glyphicon-remove {
    color: #c0392b !important;
    margin-top:0;
}
/*--- drop down lost --*/
.drop-down-list .glyphicon-ok {
    display: none;
    margin-top:-10px;
    left: 30px !important;
}
.drop-down-list .glyphicon-remove {
    margin-top:-20px;
    left: 30px !important;
}
.help-block {
    color: #c0392b !important;
}
.dropdownpad .col-md-4, .drop-down-list .col-lg-4{
    padding-left: 2px !important;
    padding-right: 2px !important;
}
/*---facts-section ---*/
.facts-section {
    color: #34495E;
    padding-top: 0;
    padding-bottom: 40px;
}
.facts-section h2{

    margin-bottom: 30px;
}
.facts-section p{
    font-size: 20px;
    font-weight: 400;
}
/*--- sub-hero-one ---*/
.sub-hero-one {
    background-image: url(../images/sub-hero-one.jpg);
    background-size: cover;
    background-position: 10% 0;
    min-height: 407px;

}
/*--- Info Section ---*/
.info-section{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #34495E;
}

.info-section h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.info-section .fa {
    padding-top: 90px;
    display: inline;
}

.info-section .info-text-each {
    padding-left: 50px;
    margin-top: -45px;
}
.info-section .info-section-each {
    padding-top: 30px;
    visibility: hidden;
}
.info-section .fa {
    color: #B0937A;
}
/*--- sub-hero-two ---*/
.sub-hero-two {
    background-image: url(../images/sub-hero-two.jpg);
    background-size: cover !important;
    background-position: 80% 0 !important;
    min-height: 357px !important;
}

/*-- about-us-section --*/
.about-us-section{
    color: #34495E;
    padding-top: 20px;
    padding-bottom: 40px;
}
.about-us-section h2 {
    padding-bottom: 20px;
}
.about-us-section p {
    padding-bottom: 20px;
}
.graph-box img{
   max-height: 380px;
}
/*--- sub-hero-three ---*/
.sub-hero-three {
    background-image: url(../images/sub-hero-three.jpg);
    background-size: cover !important;
    background-position: center !important;
    min-height: 350px !important;
    color: #fff;
    padding-top: 30px;
    line-height: 30px;
}
.sub-hero-three h1 {
    padding-bottom: 30px;
}

/*--- bottom-nav-section ---*/

.bottom-nav-section {
    padding-top: 60px;
    padding-bottom: 40px;
}
.bottom-nav-section a{
    color: #B0937A;
}
.bottom-nav-section ul li{
    display: inline-block;
    list-style-type: none;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 15px !important;
    padding-right: 15px;
}
.bottom-nav-section ul {
    padding-left:0;
}
.bottom-nav-section img {
    margin-bottom: 20px;
}

/*--- Footer ---*/
.footer-section {
    background-color: #B0937A;
    color: #fff;
    padding: 50px 10px 0 10px !important;
}
.footer-section p {
    font-size: 11px;
    padding-bottom: 20px;
}
footer ul {
    list-style-type: none;
    padding-left: 0;
}
footer li {
    display: inline;
}
footer small {
   font-size: 12px;
    font-weight: 100;
    color: #898989;
}
footer a {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

}
/*==============================================
======== Javascript   ==========================
===============================================*/
.hero-section-mask {
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: background 1s linear;
    -moz-transition: background 1s linear;
    -o-transition: background 1s linear;
    transition: background 1s linear;
}
 .mainMask{
    background-color: rgba(0,0,0,0.6);
     position:  fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     z-index: 1;
     display: none;
 }
.PopUpBox {
    top: 5%;
    z-index: 20;
    background-color: rgba(255,255,255,1);
    position: fixed;
    color: #0f0f0f;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 90%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    visibility: hidden;
 }
#closePopUp {
    color: #34495E;
}
#closePopUp {
    position: absolute;
    top: 20px;
    left: 20px;

}
#closePopUp:hover {
    cursor: pointer;
    opacity: 0.6;
}

#showPreloader {
   display: none;
}
.preloader {
    background: #fff;
    padding: 40px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    margin-bottom: 20px;
    color: #34495E;
    font-weight: 700;

}
.preloader h4 {
    font-weight: 400;
    padding-top: 20px;
}
.preloader p {
    font-size: 1.5em;
    font-weight: 100;
}
.preloader .fa {
    color: #B0937A;
}
/*--- graph---*/
.red {
    color: #FF0000;
}
.outer-graph-box {
    border: 1px solid #B0937A;
    width: 100%;
}
.outer-graph-box p {
    font-weight: 700;
}
#graph-box {
    padding-top: 20px;
    width: 90%;
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding-left: 2.5%;
}
#graph-box .graph-bar {
    width: 100%;
    background-color: #B0937A;
    border-radius: 2px;
    display: table-cell;
    visibility: hidden;

}

#graph-box .bar-1 {
    height: 60px;
    display: inline-block;

}
.graph-pos p {
    font-weight: 700;
    font-size: 14px;
    visibility: hidden;
    padding-left: 1%;
}
.graph-pos , .each-num{
    display: inline-block;
    width: 23%;
    padding-left: 2%;
}
#graph-box .bar-2 {
    height: 80px;
    display: inline-block;

}
#graph-box .bar-3 {
    height: 140px;
    display: inline-block;
}
#graph-box .bar-4 {
    height:200px;
    display: inline-block;
    background-color: #FF0000;
}

/*--- scroll to top ---*/
#toTop {
    background: #34495E;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 20%;
    right: 0;
    display: none;
    cursor: pointer;
}
/*==============================================
======== Form Section ==========================
===============================================*/
.form-section {
   margin-top: -360px;
    visibility: hidden;
}
.form-h1 {
    padding-top: 40px;
}
.form-section h1 {
    font-weight: 100;
}
#preloaderAfter, #thankYouMsg {
    visibility: hidden;
}
.wizard > .content {
    min-height: 10em !important;
}
.form-finish-h3 {
    font-weight: 400;
    color: #2184be;
}
/*==============================================
======== Thank You Section ==========================
===============================================*/
#thankYouMsg {
    margin-top: 0;
}
.thankyou-section {
    padding: 30px;
}
.wizard > .content > .body {
    /* float: left; */
    position: relative !important;
    width: 100%; !important;
    /* height: 100%; */
    /* padding: 2.5%; */
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .hr-brand {
        display: none;
    }
    .navbar-default {
        margin-bottom: 60px;
    }
    .info-section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .btn-green {
        padding: 13px 60px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .hero-section h1 {
        margin-top: -30px;
        font-size: 50px;
        font-weight: 400;
    }

    .hero-section h2 {
        margin-top: 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
    }

    .hero-section {
        background-position: 50% 0;
    }

    .jumbotron p {
        font-size: 18px;
        font-weight: 400;
    }

    .facts-section {

        padding-top: 50px;
        padding-bottom: 60px;
    }

    .sub-hero-one {
        background-position: 20% 20%;
    }

    .sub-hero-two {
        background-position: 0 52%;
    }

    .dropDownInline {

        max-width: 300px;
        margin-left: -10px;
        margin-bottom: 50px;
    }

    .dropDownInline .form-control {
        display: inline;
        height: 34px;
        padding: 6px 6px;

    }

    .dropDownEach {
        display: inline;
        float: left;
        margin-left: 10px;
    }

    /*--- sub-hero-three ---*/
    .sub-hero-three {

        padding-top: 80px !important;
        line-height: 30px;
    }

    .sub-hero-three h1 {
        padding-bottom: 40px !important;
    }

    /*--- bottom-nav-section ---*/
    .bottom-nav-section {
        padding-top: 70px;
        padding-bottom: 60px;
    }

    .bottom-nav-section a {
        color: #B0937A;
    }

    .bottom-nav-section ul li {
        display: inline-block;
        list-style-type: none;
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 15px !important;
        padding-left: 30px;
    }

    .bottom-nav-section ul {
        padding-left: 0;
    }

    .bottom-nav-section img {
        margin-bottom: 40px;
    }

    footer a {

        display: inline-block;
    }

    /*--- Javascript 7px---*/
    .PopUpBox {
        top: 10%;
        width: 90%;
    }

    .graph-pos p {
        font-weight: 700;
        font-size: 18px;
        visibility: hidden;
        padding-left: 0;
    }
    .btn-two {


        font-size: 2em;

    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .navbar-default {
        margin-bottom: 80px;
    }
    .hero-text h1{
        padding: 0 5%;
    }
    .hero-text h2{
        padding: 20px 10% 0 10%;
    }
    .jumbo-top {
        margin-top: 40px;
    }
    .jumbo-top h2{
        font-size: 48px;
        font-weight: 600;
    }
    .info-section {
        padding-top: 50px;
        padding-bottom: 60px;
    }
     h2 {
        font-weight: 700;
        font-size: 48px;
    }
    .info-section h4 {
        padding-top: 16px;
    }
    .info-section-tri {
        margin-top: 40px;
    }
    .facts-section {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .facts-section p{
            line-height: 33px;
        }
    .sub-hero-one {
        background-position: 20% 15% !important;
    }
    /*--- footer ---*/

    .preloader {
        margin-bottom: 50px;
    }
    #thankYouMsg {
        margin-top: 50px;
    }
    .dropdownpad {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .about-us-section{
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .about-us-section h2 {
        font-weight: 700;
        padding-bottom: 40px;
    }
    .about-us-section p {
        padding-bottom: 20px;
    }
    /*--- sub-hero-three ---*/
    .sub-hero-three h1 {
        padding-bottom: 40px;
        font-size: 45px;
        line-height: 50px;
        font-weight: 700;
    }

    .sub-hero-three {
        background-position: center !important;
        min-height: 500px !important;
        background-position: 0 100% !important;
        padding-top: 130px !important;
    }
    .footer-section {
        padding: 20px 10px 0 10px !important;
    }
    footer .row{
        margin-top: 40px;
    }
    /*--- graph ---*/
    #graph-box li {
        padding-right: 15.2%;
    }
    /*-- javascript 992px --*/
    .PopUpBox {
        top: 20%;
        left: 25%;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }


}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .advert-section {
        background-position: 50% 10%;
    }
    .hero-section {
        background-position: 80% 0 !important;
    }
    .sub-hero-one {
        background-position: 20% 10% !important;
    }
    .sub-hero-two {
        background-position: 0 60% !important;
        min-height: 400px !important;
    }
    .sub-hero-three {
        background-position: center !important;
        min-height: 500px !important;
        background-position: 0 90% !important;
    }
    #graph-box li {
        padding-right: 17%;
    }
    .facts-section p{
        padding-left: 10%;
        padding-right: 10%;
    }
    .drop-down-list .glyphicon-ok {
        display: block;
        margin-top:-10px;
        left: 40px !important;
    }
    .drop-down-list .glyphicon-remove {
        display: block;
        color: #c0392b !important;
        margin-top:-10px;
        left: 40px !important;
    }

}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 footer ul {
     margin-top: 15px;
 }

    .content{
        padding-bottom: 30px !important;
    }
    .form-section .well {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .form-section .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .form-section  .col-md-12{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .dropDownEach {
        margin-bottom: 20px;
    }
    .hero-section .container {
        margin: 0;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 .hero-section {
     padding-bottom: 0;
     margin: 0;
 }
    .hero-section .jumbotron {
        margin-bottom: -1px;

    }
    .hero-section .container {
        padding: 0;
        margin: 0;
    }
    .hero-section .col-md-6, .col-lg-6 , .col-md-4, .col-lg-4{
        padding: 0;
        margin: 0;
    }
    .container .jumbotron, .container-fluid .jumbotron {
        border-radius: 0;
    }
    .dropdownpad label {
        margin-top: 10px;
    }
    .drop-down-list {
        margin-bottom: 7px;
    }
    .dropdownpad {
        margin-top: 5px !important;
    }
    .glyphicon-ok {
        margin-top: 0;
    }
    .glyphicon-remove {
        margin-top: 0;
    }
    .drop-down-list .glyphicon-ok {

        margin-top:0;
        left: 50px !important;
    }
    .drop-down-list .glyphicon-remove {

        margin-top:0;
        left: 50px !important;
    }

    /*-- contact us form ---*/
    .contact-jumbo .col-md-12,.contact-jumbo .col-lg-12{
        padding: 0;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
/*===============================================================================
================== Retina Logos ================================================
================================================================================*/
/*
<img src="@Umbraco.Media(CurrentPage.footerIcon).Url" class="center-block"> */



    /* Small screen, non-retina
    .main-logo {
        width: 250px !important;
        height: 38px !important;
        background-size: 100% 100% !important;
        background-repeat: no-repeat !important;
        margin-right: 0 !important;
        margin-top: -5px;
    }
 */


@media only screen and (max-width: 400px){

    /* Small screen, non-retina */
    .main-logo {
        /* background-image: url(../images/logo.png); */
        width: 250px;
        height: 38px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-right: 0;
    }

}

@media only screen and (min-width: 401px) {

    /* Small screen, non-retina */
    .main-logo {
        /* background-image: url(../images/logo.png); */
        width: 250px;
        height: 38px;
        background-repeat: no-repeat;
    }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {

    /* Small screen, retina, stuff to override above media query */
    .main-logo2 {
        /* background-image: url(../images/logo_2x.png); */
        width: 250px;
        height: 38px;
        background-size: 250px 38px;
        background-repeat: no-repeat;

    }

}

@media only screen and (min-width: 700px) {

    /* Medium screen, non-retina */
    .main-logo {
        /* background-image: url(../images/logo.png); */
        width: 250px;
        height: 38px;
        background-repeat: no-repeat;
    }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (                min-resolution: 192dpi) and (min-width: 700px),
only screen and (                min-resolution: 2dppx)  and (min-width: 700px) {

    /* Medium screen, retina, stuff to override above media query */
    .main-logo2 {
        /* background-image: url(../images/logo_2x.png); */
        width: 250px;
        height: 38px;
        background-size: 250px 38px;
        background-repeat: no-repeat;

    }
}

@media only screen and (min-width: 1300px) {

    /* Large screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {

    /* Large screen, retina, stuff to override above media query */
    .main-logo {
        /* background-image: url(../images/logo.png); */
        width: 250px;
        height: 38px;
        background-repeat: no-repeat;
    }

}

/*====================== UMBRACO EXTRA CSS +++++++++++++++++++++++++++++++++//*/
#contactUs {
    display: none;
}
#privacyPop {
    display: none;
}
#complaintsProcedure {
    display: none;
}
